body{
    background:#FFEFDB;
}

.leftBox{
    background-color: #FFE4C4;
}

.rightBox{
    background-color: #EED5B7;
}

.nav ul {
    list-style-type: none;
    padding:0;
}
  
.nav li a {
    display: block;
    color: black /* nome all'inizio senza cliccarci*/;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size:30px;
}
  
.nav li a:hover:not(.active) {
        background-color: #FFE4C4;
        color: #E3A869 /* nome cliccarci*/;
}